:root{
    --silver: #ccc;
    --white: white;
    --green: #adff2f;
    --navy: #001f3f;
    --charcoal: #333333;
    --purple: #6a0dad;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(0, 1fr) minmax(0, 5fr);
    padding: 5px 10px 5px 5px;
    background-color: var(--green);
}

#todoContainer {
    grid-column: 2;
    grid-row: 1 / 3;
      display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
  background-color: var(--white);
  border: 5px solid var(--purple);
  scroll-behavior: smooth;
  height: 100%;
  max-height: 100vh;     
  overflow-y: auto;
  overflow-x: hidden;
}


#dashboard{
    grid-column: 1;
    grid-row: 1 /3;
    background-color: var(--green);
    padding: 5px;
}

/*dialog and form */

.modal-dialog {
    height: 550px;
    width: 450px;
    border: 3px solid var(--navy);
    background-color: var(--white);
    justify-self: center;
    align-self: center;
    padding: 13px;
}

#dialog::backdrop {
    background-color: var(--charcoal);
    opacity: .5;
}

#projectDialog::backdrop {
    background-color: var(--purple);
    opacity: .5;
}

#form, #projectForm{
    display: flex;
    flex-flow: column;
}

.todoIndividual {
  height: 250px; 
  border: 2px solid var(--navy);
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: white;
}

.btn-icon {
  color: var(--green);
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--charcoal);
  cursor: pointer;
}

.btn-icon:hover{
  transform: translateY(-4px);
  box-shadow: 0 8px 20px var(--purple);
}

.project-card{
  border: 2px solid var(--navy);
}

